rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Invoice app rules
    match /invoices/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /suppliers/{document=**} {
      allow read, write: if request.auth != null;
    }

    // Pharmacy app rules
    match /pharmacy_medicines/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pharmacy_stock/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pharmacy_transactions/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pharmacy_units/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pharmacy_users/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
